.App {
  text-align: center;
  
}
.thumbnail {
  background-color: #f3e1e1;
}
h1{
  font-family: 'Cormorant', serif;
  color:#1b262c;
  text-align: center;
}
.alert {
  color: black;
  background-color: #7d5a5a;
}
.container{
  background-color: #7d5a5a;
  width: auto;
}
.col-md-4{
  color: black;
}
.btn{
  color: #1b262c;
  font-family: 'Eczar', serif;
  background-color: grey;
  border-radius: 20px;
}
#title{
  font-family: 'Eczar', serif;

}
.App-header {
  background-color: #0c0b0b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.litext{
  color: black;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}