.App {
  text-align: center;
}
.form-control {
  font-family: "Cormorant", serif;
  margin-top: 7px;
}
h1 {
  font-family: "Cormorant", serif;
  color: #1b262c;
  text-align: center;
}
.alert {
  color: black;
  background-color: #f5efef;
}
.thumbnail {
  background-color: #e0dede;
}
.container {
  background-color: #f5efef;
  width: auto;
}
.col-md-4 {
  color: black;
  font-size: medium;
  font-style: italic;
  font-family: serif;
  font-weight: bold;
}
.btn {
  color: #1b262c;
  font-family: "Eczar", serif;
  background-color: grey;
  border-radius: 20px;
}
#title {
  font-family: "Eczar", serif;
}
/* .litext {
  color: black;
}
.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
