.App {
  text-align: center;
}
.form-control {
  font-family: "Cormorant", serif;
  margin-top: 7px;
}
h1 {
  transition: width 2s, height 2s, transform 2s;
  font-family: "Cormorant", serif;
  font-size: 60px;
  color: #1b262c;
  text-align: center;
}
h1:hover {
  transform: rotate(360deg);
}
.alert {
  color: black;
  background-color: #f5efef;
/* background-color: rgb(232, 247, 246) */
}
.thumbnail {
  background-color: #e0dede;
}
.container {
  position: sticky;
  background-color: #f5efef;
  width: auto;
}
.col-md-4 {
  color: black;
  font-size: medium;
  font-style: italic;
  font-family: serif;
  font-weight: bold;
}
.btn {
  color: #1b262c;
  font-family: "Eczar", serif;
  background-color: grey;
  border-radius: 20px;
}
.btn:hover {
  color: white;
  background-color: black;
  transform: scale(1.1);
}
#title {
  font-family: "Eczar", serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
